<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <!-- deshabilitarremos el boton y manipularemos con property binding -->
      <button type="button" class="btn btn-primary" 
      [disabled]="deshabilitar"
      (click)='agregarPersona()'
      >
        Agregar Persona
      </button>
      <p>{{mensaje}}</p>
      <app-persona></app-persona>

      <label>Titulo Persona</label>
      <input type="text" class="form-control" 
      (input)='modificarTitulo($event)' >
      <!-- en event capturemos el input  -->
      {{titulo}}
    </div>
  </div>
</div>
