<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <!-- deshabilitarremos el boton y manipularemos con property binding -->
      <button type="button" class="btn btn-primary" 
      [disabled]="deshabilitar"
      (click)='agregarPersona()'
      >
        Agregar Persona
      </button>
      <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el titulo de {{titulo}}</p>
      <!-- mostrar false -->
      <ng-template #sinPersona>
        <p>No se ha agregado ninguna persona</p>
      </ng-template>

      <app-persona></app-persona>

      <label>Titulo Persona</label>
      <input type="text" class="form-control" 
      [(ngModel)]='titulo' >
      <!-- en event capturemos el input  -->
      {{titulo}}
    </div>
  </div>
</div>
