<div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
        <div *ngFor="let ingreso of ingresos; let i= index " class="elemento limpiarEstilos">
            <div class="elemento_descripcion">{{ingreso.nombre}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">+{{ingreso.cantidad}}</div>
                <div class="elemento_eliminar">
                    <button (click)="eliminar(ingreso)" class="elemento_eliminar--btn">
                        <i class="ion-ios-close-outline"></i>
                    </button>
                </div>
            </div>
        </div>
</div>